/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.main_header {
		text-align: center;
	}

	.logo {
		margin-bottom: 15px;
	}

	.top_phone {
		margin-bottom: 20px;
	}

	.top_header {
		margin-top: 130px;
	}

	.product_item {
		text-align: center;
	}

	.form_block {
		margin: 0;
		margin-top: 75px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.hisctory_item {
		min-height: 195px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}