@import "bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.main_footer
		.main_mnu
			position: relative
			margin-right: -17px
			margin-bottom: 25px
	.triangles_container
		.tc_item
			margin-bottom: 15px
			&:first-child
				margin-left: -40px
	.main_mnu
		display: none
		float: right
		min-width: 295px
		text-align: right
		background-color: #1c242c
		top: 10px
		border-bottom: 4px solid #111821
		border-top: 4px solid #232d3b
		font-size: 18px
		margin-top: 10px
		position: absolute
		right: 15px
		z-index: 2
		ul
			li
				display: block
				line-height: 0
				padding: 0
			a
				display: block
				line-height: 48px
				padding: 0 20px
				background-color: transparent
				transition: all .5s ease
				&:hover
					background-color: #273646
					
	.phone
		padding-right: 63px

	.s3_img_wrap
		margin-left: 82px


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.s8_left 
		.section_head 
			h2
				text-align: center
				&::after
					left: 50%
					transform: translate(-50%, 0px)
			p
				text-align: center

	.teams 
		.team
			margin-bottom: 20px

	.s3_img_wrap
		display: none
	.section_3 
		.info_item_wrap .info_item
			margin: 0 0 60px 0!important
		.section_content
			background-image: none
			min-height: auto
	.s3_img_wrapper
		display: none

	.header_wrap 
		margin-top: 0
		h1
			margin-top: 0
	.main_mnu
		top: 50px

	.top_line
		min-height: 140px

	.section_content
		.s1_bottom_triangle
			background-size: cover

	.info_item
		margin: 40px 0

	.cards
		.card-on
			margin-top: 30px


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important

	.info_item
		max-width: 100%
		margin-top: 20px
		margin-bottom: 20px
		border-bottom: 1px solid #d6dae0
		p
			border: none
		&:first-child
			margin-top: 0
		h4
			margin-top: 20px

	.s1_bottom
		.info_item
			p
				border-color: #546476
	.info_item_wrap:last-child
		.info_item
			border-color: transparent
	.section_1
		.section_content
			background-position: bottom

	.section_3
		.section_content
			padding-top: 10px
			.info_item
				border-color: #546476
				p
					margin-bottom: 0
	.s8_item
		margin-bottom: 32px



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.slider
		.owl-controls
			.owl-nav
				top: 8%

	.section_5
		.triangles_container
			.tc_item
				margin-left: 0

	.phone_wrap
		.phone
			font-size: 18px
			line-height: 34px
			padding-right: 50px
		.toggle_mnu
			line-height: 34px
			margin-top: 15px
	.logo
		img
			width: 70px
	
	.s2_item_wrap
		padding: 0 10px
		width: 140px




/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	.main_mnu
		display: block !important
	a
		outline: none !important

