body {
  font-family: "RalewayRegular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  color: #222222;
  position: relative;
  background-color: #eee5e9;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "OpenSansCondensedBold", sans-serif;
  letter-spacing: -1px;
  font-size: 30px;
  margin-bottom: 20px;
  position: relative; }

h3 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px; }

.underline {
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  width: 100px;
  height: 1px;
  background-color: #cc2936; }

section {
  padding: 50px 0; }

iframe {
  width: 100%;
  height: 640px; }

input,
textarea {
  display: block;
  width: 100%;
  text-indent: 5px;
  padding: 10px;
  margin-top: 10px; }

.typewriter {
  position: absolute;
  left: 50%;
  top: 40%;
  margin-left: -215px; }
  .typewriter h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    -webkit-animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
            animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite; }

@-webkit-keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: orange; } }
@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: orange; } }
.main_header {
  background-image: url(../img/background_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 620px; }

.overlay {
  background-image: url(../img/pattern.png);
  width: 100%;
  height: 100%; }

.logo {
  text-align: center;
  padding: 15px; }

.site_navigation {
  text-align: center;
  -webkit-box-shadow: 0 3px 5px -3px #000000;
          box-shadow: 0 3px 5px -3px #000000;
  background-color: #ffffff; }
  .site_navigation ul {
    float: right; }
  .site_navigation ul,
  .site_navigation p {
    padding: 0;
    margin: 0; }
  .site_navigation li {
    position: relative;
    display: inline-block; }
    .site_navigation li::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 1px;
      height: 2px;
      background-color: #cc2936;
      opacity: 0; }
    .site_navigation li a {
      display: block;
      padding: 15px;
      color: #222222; }
    .site_navigation li a:hover {
      color: #cc2936; }
    .site_navigation li .active {
      background-color: #cc2936;
      color: #ffffff; }
      .site_navigation li .active:hover {
        color: #ffffff; }
  .site_navigation li:hover::before {
    opacity: 1;
    width: 100%;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease; }

.s_about,
.s_certificate {
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 5px -3px #000000;
          box-shadow: 0 3px 5px -3px #000000;
  margin-top: 30px; }

.photo_block {
  width: 100%;
  background-color: #eeeeee; }
  .photo_block a {
    display: block;
    margin: 0 auto;
    width: 60%; }
  .photo_block img {
    margin: auto; }

.s_skills {
  text-align: center; }

.icon_skill {
  position: relative;
  margin-bottom: 60px;
  cursor: pointer; }
  .icon_skill img {
    width: 150px;
    min-height: 160px; }

.skill_descr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 15px 10px;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.icon_skill:hover .skill_descr {
  opacity: 1;
  top: 0; }

.certificate_item img {
  width: 100%;
  height: 100%; }

form .form-group {
  margin-bottom: 20px; }
form .best_work h3 {
  text-align: center; }

.btn {
  border: none;
  background-color: #cc2936;
  color: #ffffff;
  padding: 10px 25px;
  text-transform: uppercase;
  font-family: "OpenSansCondensedBold", sans-serif; }
  .btn:hover {
    background-color: transparent;
    outline: 2px solid #cc2936;
    color: #cc2936; }

.btn_work {
  text-align: center; }
