*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}

header {
	background-image: url(../img/top_bg.jpg);
	background-repeat: repeat-x;
	background-position: top center;
	min-height: 644px;
	position: relative;
	font-family: 'BebasBold';
}

header a {
	color: #ffffff;
}

.top_line {
	min-height: 97px;
	-webkit-box-shadow: rgba(255, 255, 255, .3) 0 0 0 1px;
	box-shadow: rgba(255, 255, 255, .3) 0 0 0 1px;
	width: 100%;
	background-color: rgba(0, 0, 0, .60);
	padding: 22px 0;
}

.top_line a {
	font-size: 21px;
	border-bottom: 1px dashed #ffffff;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}

.top_line a:hover {
	border-bottom: 1px dashed transparent;
}

.top_addr {
	padding-left: 60px;
	background-image: url(../img/top_map.png);
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 26px;
	padding-left: 50px;
}

.top_addr strong {
	display: block;
	color: #d12f22;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 32px;
	line-height: 26px;
}

.top_line .logo {
	border-bottom: none;
	position: absolute;
	margin-top: -18px;
}

.top_line .logo:hover {
	border-bottom: none;
}

.logo_wrap {
	position: relative;
	width: 240px;
	margin: auto;
}

.ta_right {
	background-image: none;
	padding-left: 0;
	text-align: right;
}

.ta_right span {
	color: #ffffff;
}

header h1 {
	text-align: center;
	color: #ffffff;
	margin-top: 68px;
	font-size: 40px;
	text-shadow: rgba(0, 0, 0, .22) 0 3px;
	font-family: 'BebasRegular';
}

.button {
	display: inline-block;
	background-color: #d12f22;
	height: 50px;
	vertical-align: middle;
	line-height: 50px;
	padding: 0 25px;
	font-size: 20px;
	border-bottom: 4px solid #ac160a;
	color: #ffffff;
	font-family: 'BebasBold';
}

.button:hover {
	background-color: #e64437;
}

.button:active {
	background-color: #b81609;
}

header .button {
	margin-right: 20px;
}

.st_button {
	line-height: 18px;
	padding-top: 7px;
	padding-left: 63px;
	text-align: left;
	background-image: url(../img/camera_icon.png);
	background-repeat: no-repeat;
	background-position: 8px 8px;
}

.buttons_top {
	width: 100%;
	position: absolute;
	bottom: 32px;
}

.top_mnu {
	height: 62px;
	background-color: #242424;
	-webkit-box-shadow: rgba(255, 255, 255, .3) 0 0 0 1px;
	box-shadow: rgba(255, 255, 255, .3) 0 0 0 1px;
	font-family: 'BebasRegular';
	text-transform: uppercase;
}

.top_mnu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.top_mnu li {
	float: left;
}

.top_mnu a {
	color: #ffffff;
	font-size: 20px;
	padding: 0 26px 0 54px;
	display: block;
	line-height: 62px;
	border-left: 1px solid #383838;
	background-image: url(../img/top_mnu_iconset.png);
	background-repeat: no-repeat;
	background-position: 20px 16px;
}


.top_mnu li:nth-child(2) a {
	background-position: 13px -47px;
}

.top_mnu li:nth-child(3) a {
	background-position: 25px -122px;
}

.top_mnu li:nth-child(4) a {
	background-position: 17px -204px;
}

.top_mnu li:nth-child(5) a {
	background-position: 12px -277px;
}

.top_mnu li:nth-child(6) a {
	background-position: 20px -353px;
}

.top_mnu li.active a,
.top_mnu li:hover a {
	background-color: #050505;
}

.waranty {
	float: right;
	color: #ffffff;
	cursor: default;
	font-size: 15px;
	border: 3px solid #ffffff;
	border-radius: 3px;
	padding: 3px 5px;
	line-height: 16px;
	margin-top: 8px;
}

.w_right,
.w_left {
	display: inline-block;
	vertical-align: top;
}

.w_left span {
	font-size: 34px;
	font-family: 'BebasBold';
}

.w_left {
	font-family: 'BebasBold';
	font-size: 20px;
	margin-top: 10px;
	margin-right: 5px;
}

.w_right {
	font-family: 'RobotoCondensedRegular';
}

.main_cats {
	background-color: #191919;
	padding: 20px 0 40px;
}

.main_cats h2,
h2.art_header {
	text-transform: uppercase;
	color: #c9c9c9;
	font-family: 'BebasRegular';
	font-size: 40px;
	text-align: center;
}

.main_cats h2 strong {
	color: #ffffff;
}

.main_cats h2 span {
	color: #d12f22;
}

section h2,
article h2 {
	position: relative;
}

.s_black h2::before {
	content: '';
	position: absolute;
	top: 20px;
	margin-left: -68px;
	width: 50px;
	height: 20px;
	background-image: url(../img/header-img.png);
}

.s_black h2::after {
	content: '';
	position: absolute;
	top: 20px;
	margin-left: 20px;
	width: 50px;
	height: 20px;
	background-position: -50px 0;
	background-image: url(../img/header-img.png);
}

article h2.art_header::before {
	content: '';
	position: absolute;
	top: 20px;
	margin-left: -68px;
	width: 50px;
	height: 20px;
	background-image: url(../img/art_header_img.png);
}

article h2.art_header::after {
	content: '';
	position: absolute;
	top: 20px;
	margin-left: 20px;
	width: 50px;
	height: 20px;
	background-position: -50px 0;
	background-image: url(../img/art_header_img.png);
}

.mc_item_wrap {
	margin-left: 30px;
	width: 160px;
	display: inline-block;
	text-align: center;
}

.mc_item_wrap:nth-child(1) {
	margin-left: 0;
}

.mc_wrap {
	text-align: center;
	padding: 0;
	position: relative;
}

.mc_item_wrap a {
	color: #ffffff;
}

.mc_item {
	border: 1px solid #353535;
	border-radius: 2px;
}

.mc_item span {
	display: block;
	height: 85px;
	width: 130px;
	background-image: url(../img/cats_iconset.png);
	margin: 15px auto;
}

.mc_item h4 {
	font-weight: normal;
	font-family: 'BebasBold';
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 7px;
}

.mc_item a:hover h4,
.mc_item_wrap.active h4 {
	text-decoration: underline;
}

.mc_item_wrap:hover,
.mc_item_wrap.active {
	background-color: #2a2a2a;
}


.mc_item_wrap:nth-child(2) span {
	background-position: -158px 0;
}

.mc_item_wrap:nth-child(3) span {
	background-position: -318px 0;
}

.mc_item_wrap:nth-child(4) span {
	background-position: -478px 0;
}

.mc_item_wrap:nth-child(5) span {
	background-position: -638px 0;
}

.mc_item_wrap:nth-child(6) span {
	background-position: -796px 0;
}

.mc_toggle {
	background-color: #212121;
	height: 25px;
	position: relative;
	cursor: pointer;
	background-image: url(../img/mc_arr.png);
	background-repeat: no-repeat;
	background-position: 70px 8px;
}

.mc_item_wrap:hover .mc_toggle,
.mc_item_wrap.active .mc_toggle {
	background-color: #353535;
	background-position: -120px 8px;
}

body .mc_wrap .mc_item_wrap > ul {
	background-color: #353535;
	font-size: 20px;
	margin-top: 25px;
	position: absolute;
	width: 100%;
	padding: 15px 0;
	list-style-type: none;
	z-index: 10;
	display: none;
	left: 0;
}

.mc_item_wrap.active ul li {
	display: inline-block;
	font-family: 'BebasRegular';
}

.mc_item_wrap.active ul li a {
	padding: 0 10px;
	text-decoration: underline;
}

.mc_item_wrap.active ul li a:hover {
	text-decoration: none;
}

.mc_item_wrap_af {
	content: '';
	position: absolute;
	margin: 16px 69px;
	width: 18px;
	height: 9px;
	background-image: url(../img/mc_c_arr.png);
	display: none;
}

.ms_button_w {
	text-align: center;
	margin-top: 30px;	
}

article.content {
	background-color: #e9e9e9;
}

article .art_header {
	color: #050505;
	margin-bottom: 10px;
}

p.h_descr {
	max-width: 790px;
	text-align: center;
	margin: auto;
	color: #050505;
}

.home_items {
	background-color: #d6d6d6;
	padding: 40px 0;
	margin-top: 40px;
}

.hi_item {
	color: #050505;
	text-align: center;
	font-size: 14px;
	margin-bottom: 50px;
}

.hi_item img {
	max-width: 100%;
	border-top: 8px solid #ac160a;
}

.s_bottom {
	padding-top: 32px;
}

.s_bottom h2 {
	vertical-align: middle;
}

.s_bottom img {
	max-width: 90%;
	position: absolute;
	bottom: 0;
}

.sb_header.button_cont {
	text-align: right;
}

.sb_header h2 {
	margin: 0;
	text-transform: uppercase;
	font-family: 'BebasRegular';
	font-size: 36px;
}

.sb_content {
	margin-top: 30px;
}

footer {
	background-color: #2a2a2a;
	color: #ffffff;
	padding: 28px 0 35px;
	font-family: 'BebasBold';
	font-size: 20px;
}

footer a {
	color: #ffffff;
}

footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer li {
	float: left;
}

footer a {
	padding: 0 10px;
	text-decoration: underline;
}

footer a:hover {
	text-decoration: none;
}